<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./lib/css/style.css">
    <title>Tabela IMC</title>
</head>

<body>
    <div class="jumbotron text-center">
        <h1 ng-bind='titulo'></h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Peso</th>
                    <th>Altura</th>
                    <th>IMC</th>
                </tr>
            </thead>
            <hr />
            <form name='calculoImcForm'>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control" ng-model='pessoa.peso' placeholder="Seu peso"
                                ng-required="true"></td>
                        <td><input type="text" class="form-control" ng-model='pessoa.altura' placeholder="Sua altura"
                                ng-required='true'></td>
                        <td ng-bind='pessoa.resultado'></td>
                    </tr>
                </tbody>
            </form>
        </table>
        <button class="btn btn-primary btn-block" ng-click='calcularIMC(pessoa)'
            ng-disabled="calculoImcForm.$invalid">Calcular IMC</button>
</body>
<script src="./lib/angular/angular.js"></script>

</html>